.header {
    background: rgba(10, 14, 20, 0.2);
    backdrop-filter: blur(5px);
    padding: 15px 30px;
    border-bottom: 1px solid rgba(99, 102, 241, 0.2);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header_actions {
    display: flex;
    align-items: center;
    gap: 25px; 
    margin-left: 20px;
}

.nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
}


.logo { display: flex; align-items: center; gap: 10px; font-size: 24px; font-weight: bold; color: #6366f1; text-decoration: none; }
.header_search { flex: 1; display: flex; justify-content: center; padding: 0 20px; max-width: 500px; }
.hero_search_input {
    width: 100%; padding: 10px 25px; border: 2px solid rgba(99, 102, 241, 0.5);
    border-radius: 50px; background: rgba(10, 14, 20, 0.6); color: #fff; outline: none;
}

.profile_wrapper {
    position: relative; 
}

.profile_section {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.profile_section {
    display: flex;
    align-items: center;
    gap: 12px;
    white-space: nowrap; 
}

.profile_icon {
    width: 40px; height: 40px; border-radius: 50%;
    background: linear-gradient(45deg, #6366f1, #8b5cf6);
    display: flex; align-items: center; justify-content: center;
    transition: transform 0.3s;
    margin: 0;
}


.popup_menu {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background: rgba(21, 26, 37, 1); 
    border: 1px solid rgba(99, 102, 241, 0.4);
    border-radius: 12px;
    min-width: 180px;
    box-shadow: 20px 0 60px rgba(0, 0, 0, 0.5),
                inset 0 1px 0 rgba(255, 255, 255, 0.1);
    z-index: 1000;
    overflow: hidden;
    
}

.menu_list { 
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu_item {
    margin: 0;
}

.navlink {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 20px;
    color: #d1d5db;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    transition: background 0.1s ease;
}


.navlink:hover {
    background: rgba(99, 102, 241, 0.2);
    color: #fff;
}

 
.menu_divider {
    height: 1px;
    margin: 4px 10px;
    background: linear-gradient(90deg, 
        transparent 0%, 
        rgba(99, 102, 241, 0.4) 50%, 
        transparent 100%);
}

.tg_button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 18px;
    background: linear-gradient(45deg, #6366f1, #8b5cf6);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.tg_button:hover {
    background: linear-gradient(45deg, #6366f1, #8b5cf6);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(113, 34, 217, 0.4);
}

.tg_text {
    color: #ffffff !important;
    font-size: 14px;
    font-weight: 600;
}

.tg_icon_svg {
    display: block;
}
